<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csm.mapper.BestQBoardMapper">

 <insert id="create">
 insert into csm_bestquestion_board (bestq_bno, bestq_title, bestq_content, bestq_writer) 
 values(csm_bestquestion_board_seq.nextval, #{bestq_title}, #{bestq_content}, #{bestq_writer})
 </insert>
 
 <select id="read" resultType="com.csm.customer.domain.BestQVO">
select 
  bestq_bno, bestq_title, bestq_content, bestq_writer, bestq_regidate, bestq_viewcnt
 from 
   csm_bestquestion_board 
 where bestq_bno = #{bestq_bno}
 </select>

 <update id="update">
 update csm_bestquestion_board set bestq_title =#{bestq_title}, bestq_content =#{bestq_content} 
 where bestq_bno = #{bestq_bno}
 </update>

 <delete id="delete">
 delete from csm_bestquestion_board where bestq_bno = #{bestq_bno}
 </delete>

 <select id="listAll" resultType="com.csm.customer.domain.BestQVO">
 <![CDATA[
 select 
   bestq_bno, bestq_title, bestq_content, bestq_writer, bestq_regidate, bestq_viewcnt
 from 
   csm_bestquestion_board 
 where bestq_bno > 0 
 order by bestq_bno desc, bestq_regidate desc
 ]]>  
 </select>
<select id="listPage" resultType="com.csm.customer.domain.BestQVO">
<include refid="pagingcrihead"></include>
select bestq_bno, bestq_title, bestq_content, bestq_writer, bestq_regidate, bestq_viewcnt
from csm_bestquestion_board
where bestq_bno > 0
order by bestq_bno desc, bestq_regidate desc
<include refid="pagingcrifoot"></include>
 </select>
 
 <select id="listCriteria" resultType="com.csm.customer.domain.BestQVO">
<include refid="pagingHeader"/>
select bestq_bno, bestq_title, bestq_content, bestq_writer, bestq_regidate, bestq_viewcnt
from  csm_bestquestion_board
where bestq_bno > 0 
order by bestq_bno desc, bestq_regidate desc
<include refid="pagingFooter"/>
 </select>
 
  <select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(bestq_bno) 
 from 
   csm_bestquestion_board 
 where 
   bestq_bno > 0 
 ]]>
 </select>
 
 <sql id="search">
 <if test="searchType != null" > 
   <if test="searchType == 't'.toString()">
     and bestq_title like CONCAT(CONCAT('%', #{keyword}), '%')
   </if>
   <if test="searchType == 'c'.toString()">
     and bestq_content like CONCAT(CONCAT('%', #{keyword}), '%')
   </if>
   <if test="searchType == 'w'.toString()">
     and bestq_writer like CONCAT(CONCAT('%', #{keyword}), '%')
   </if>     
   <if test="searchType == 'tc'.toString()">
     and bestq_title like CONCAT(CONCAT('%', #{keyword}), '%') OR bestq_content like CCONCAT(CONCAT('%', #{keyword}), '%')
   </if>        
   <if test="searchType == 'cw'.toString()">
     and bestq_content like CONCAT(CONCAT('%', #{keyword}), '%') OR bestq_writer like CONCAT(CONCAT('%', #{keyword}), '%')
   </if>        
   <if test="searchType == 'tcw'.toString()">
     and bestq_title like CONCAT(CONCAT('%', #{keyword}), '%')
           OR 
             bestq_content like CONCAT(CONCAT('%', #{keyword}), '%')
           OR 
             bestq_writer like CONCAT(CONCAT('%', #{keyword}), '%')
   </if>              
 </if>  
</sql>



<select id="listSearchCount" resultType="int">
<![CDATA[
select
   count(bestq_bno)
from
   csm_bestquestion_board
where bestq_bno > 0
]]>
<include refid="search"/>
</select>


<select id="listSearch" resultType="com.csm.customer.domain.BestQVO">

<include refid="pagingHeader"/>
<![CDATA[
select bestq_bno, bestq_title, bestq_content, bestq_writer, bestq_regidate, bestq_viewcnt
     FROM csm_bestquestion_board where 1=1
]]>
<include refid="search"/>
<![CDATA[
order by bestq_bno desc
]]>
<include refid="pagingFooter"/>
</select>
 <!-- include용 -->
 <sql id="pagingcrihead">
	select * from(
	select A.*,rownum as rn from (
	</sql>
	
	<sql id="pagingcrifoot">
	) A
)where rn between #{page} and 10
</sql>
<sql id="pagingHeader">
		select * from(
		select A.* , rownum as rn
			from ( 
	</sql>
	<sql id="pagingFooter">
		) A
)where rn between #{startPage} and #{endPage}
</sql>

</mapper>