.all{
	width: 100%;
}

h2{
	text-align: center;
}
#faqTb{
	width: 75%;
}

#faqTb th{
	background-color : #5b5b5b;
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
}

#faqTb td{
	padding-top: 0.3%;
	padding-bottom: 0.3%;

}
#nav_menu{
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}
